.header,
.site-header {
    display: flex;
    justify-content: start;
}

.title,
.logo {
    padding: 3em 3em 1em 0;
    margin-left: 1em;
}

.logga {
    max-width: 15em;
    border-width: 0.5em;
    border-style: solid;
    border-color: $plant-border;
    border-radius: 3em;
}

.nav a,
.nav-toggle {
    color: $nav-color;
}
