.techmain {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.sidebar {
    grid-column: span 1;
}

.p {
    grid-column: span 2;
}

.nav1 {
    display: block;
    padding: 1em;
    transition: 1s;
}

.nav1:hover {
    background-image: $gradient-hover;
    padding: 2em;
}

.tech1 {
    background-image: $gradient;
}

.tech3 {
    background-image: $gradient;
}

.tech5 {
    background-image: $gradient;
}

.tech7 {
    background-image: $gradient;
}
