$font-color: #eee;
$font-alternative-color: #fff;
$font-style: 'Bree Serif', serif;
$accent-color: #ee6c4d;
$background-color: #041c32;
$background-alternative-color: #e0fbfc;

// Border color for .plant */
$plant-border: #064663;

// Variables for technologies page */

// container child color */

$conainer-child-color: #04293a;
$container-child-hover: #064663;

// Technology links colors */

$gradient: linear-gradient(to right, #04293a, #041c32);
$gradient-hover: linear-gradient(to right, #064663, #252547);

// Header & footer background-color */

$header-color: linear-gradient(to bottom, #04293a, #041c32);

// Nav font color */

$nav-color: #eee;

// code background color for technology */

$pre-color: #333;
